{% extends 'base.html.twig' %}

{% block title %}Twyrael - Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Inscription</h1>

    {{ form_start(form) }}

    {{ form_row(form.nickname, {
         'label': 'nom d\'utilsateur',
         'attr': {'placeholder': 'nom d\'utilisateur'}
     }) }}

    {{ form_row(form.email, {
         'label': 'adresse email',
         'attr': {'placeholder': 'adresse email'}
     }) }}

    {{ form_row(form.password,{
        'label' : 'mot de passe',
        'attr' : {'placeholder': 'mot de passe'}
    }) }}

    {{ form_row(form.confirm_password,{
        'label' : 'confirmer le mot de passe',
        'attr' : {'placeholder': 'confirmer le mot de passe'}
    }) }}

    {{ form_row(form.description,{
        'label' : 'saisir une description',
        'attr' : {'placeholder': 'saisir une description'}
    }) }}

    {{ form_row(form.image,{
        'label' : 'insérer une image',
        'attr' : {'placeholder': 'insérer une image'}
    }) }}

    <div id="preview" class="form-group">
        <p><a href="#imageModal" data-toggle="modal" data-target="#imageModal">voir l'image</a></p>
        <p><a href="#" id="delImage">supprimer l'image</a></p>
        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalTitle">Mon image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="img-selected" class="d-block mx-auto">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_row(form.public,{
        'label' : 'profil public',
    }) }}

    <button type="submit" class="btn btn-success">Inscription</button>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/inscription.js') }}"></script>{% endblock %}
