{% extends 'base.html.twig' %}

{% block title %}
    Twyrael - Accueil
{% endblock %}
        
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="#postModal" data-toggle="modal" data-target="#postModal">Nouveau message</a>
    </li>
{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-4">Flux d'actualité</h1>

    {{ form_start(form) }}

    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postModalTitle">Nouveau message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_row(form.description, {
                        'label': 'Message - 280 caractères restants',
                        'attr': {'placeholder': 'Message'}
                    }) }}

                    {{ form_row(form.public, {'label': 'Message public'}) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    {% for article in articles %}
        <div class="card border-primary mb-3">
            <div class="card-header">
                <img src="{{ asset('img/') }}{{ article.user.image }}" class="rounded float-left" alt="Image de profil" width="50" height="50">
                <span class="article-author">
                    Posté par
                    <a href="{{ path('profil-view', {'nickname': article.user.nickname}) }}"> @{{ article.user.nickname }} </a>
                </span>
                <span class="article-date">
                    {{ article.date | date("d/m/Y") }}
                </span>
            </div>
            <div class="card-body">
                <p class="card-text">{{ article.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/home.js') }}"></script>{% endblock %}
