{% extends 'base.html.twig' %}

{% block title %}
    Twyrael - profil
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Profil de {{ user.nickname }}</h1>

    <form action="{{ path('profil-suivre', {'nickname': user.nickname}) }}" method="post">
        <div class="form-group">
            <label for="_email">Adresse email</label>
            <input placeholder="Adresse email" name="_email" type="text" class="form-control" readonly value="{{ user.email }}">
        </div>
        <div class="form-group">
            <label for="_description">Description</label>
            <input placeholder="Description" name="_description" type="text" class="form-control" readonly value="{{ user.description }}">
        </div>
        <div class="form-group">
            <label for="_nickname">pseudo</label>
            <input placeholder="pseudo" name="_nickname" type="text" class="form-control" readonly value="{{ user.nickname }}">
        </div>
        {% if user.image %}
            <div class="form-group">
                <p><a href="#imageModal" data-toggle="modal" data-target="#imageModal">voir l'image</a></p>
                <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModalTitle">Mon image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img id="img-selected" class="d-block mx-auto" src="{{ asset('img/') }}{{user.image}}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            <div class="form-check">
                {% if user.public %}
                    <input type="checkbox" name="_public" checked="checked" class="form-check-input">
                {% else %}
                    <input type="checkbox" name="_public" class="form-check-input">
                {% endif %}
                <label class="form-check-label" for="_public">profil public</label>
            </div>
        </div>
        <div class="form-group text-center">
            {% if follow %}
                <button type="submit" class="btn btn-success">Ne plus suivre</button>
                <!--// if follow.blocked
                    <button onclick="location.href = " type="btn" class="btn btn-success">Débloquer</button>
                // else
                    <button onclick="location.href = " type="btn" class="btn btn-success">Bloquer</button>-->
            {% else %}
                <button type="submit" class="btn btn-success">Suivre</button>
            {% endif %}
        </div>
    </form>
{% endblock %}