<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Twyrael{% endblock %}</title>
        <!-- importation de la librairie bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- navbar importée depuis boostrap -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">Twyrael</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a id="user_panel" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            Utilisateur
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="user_panel">
                            {% if not app.user %}
                                <a class="dropdown-item disabled">Bienvenue visiteur</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('security_connexion') }}">Connexion</a>
                                <a class="dropdown-item" href="{{ path('security_inscription') }}">Inscription</a>
                            {% else %}
                                <a class="dropdown-item disabled">Bienvenue {{ app.user.nickname }}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('profil') }}">Mon compte</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('security_deconnexion') }}">Déconnexion</a>
                            {% endif %}
                        </div>
                    </li>
                    {% if app.user %}
                        {% block navbar %}{% endblock %}
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
